body{background-color: #1c1d21;}
h2{color:white; text-align: center;}


/*Table styling*/
table{border-collapse: separate; border-spacing: 1px; background-color: black; width:100%; text-align: center;}

.row-a{background-color: white;}
.row-b{background-color: lightgray;}
th{background-color: #2a46fa; color: white; }


#events-section {display: flex; flex-wrap: wrap;}
#events-section div{flex:0 0 100%}

